# Baseline script of San Francisco Crime Classification

Baseline script. Hope this helps yours.

In [1]:
import numpy as np
import pandas as pd

## Load Data

In [2]:
train = pd.read_pickle("merged_data.p")
train.head(3)
train = train.reset_index() # 인데스
train = train.drop('index',axis=1)

In [3]:
train.head(3)

,날짜,순위,영화명,개봉일,매출액,매출액 점유율,매출액증감 (전일대비),매출액증감율 (전일대비),누적매출액,관객수,...,국적,제작사,배급사,등급,장르,감독,배우,Dates-Year,Dates-Month,Dates-Day
0,2014년 08월 01일(금),1.0,명량,2014-07-30 00:00:00,6.918410e+09,0.640,1.675000e+09,0.3,1.704293e+10,867437.0,...,한국,(주)빅스톤픽쳐스,씨제이이앤엠(주),15세이상관람가,"사극,액션",김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,김태훈,이승준,오타니 료헤이,...",2014.0,8.0,1.0
1,2014년 08월 01일(금),8.0,해적: 바다로 간 산적,2014-08-06 00:00:00,1.202400e+07,0.001,-5.380000e+06,-0.3,1.420750e+08,2931.0,...,한국,(주)하리마오픽쳐스,롯데쇼핑㈜롯데엔터테인먼트,12세이상관람가,어드벤처,이석훈,"김남길,손예진,유해진,이경영,오달수,김태우,박철민,신정근,김원해,조달환,조희봉,정성...",2014.0,8.0,1.0
2,2014년 08월 01일(금),2.0,드래곤 길들이기 2,2014-07-23 00:00:00,1.295786e+09,0.120,7.678554e+07,0.1,1.377035e+10,163723.0,...,미국,드림웍스 애니메이션,씨제이이앤엠(주),전체관람가,"애니메이션,액션,어드벤처",딘 데블로이스,"제이 바루첼,제라드 버틀러,케이트 블란쳇,아메리카 페레라",2014.0,8.0,1.0

In [4]:
pd.get_dummies(train["대표국적"]).head(3)

,그리스,기타,남아프리카공화국,네덜란드,노르웨이,뉴질랜드,대만,덴마크,독일,러시아,...,페루,포르투갈,폴란드,프랑스,핀란드,필리핀,한국,헝가리,호주,홍콩
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
pd.get_dummies(train["장르"]).head(3)

,SF,"SF,공포(호러)","SF,공포(호러),판타지","SF,다큐멘터리","SF,드라마","SF,드라마,멜로/로맨스","SF,드라마,어드벤처,판타지","SF,드라마,판타지","SF,미스터리,스릴러,판타지","SF,스릴러",...,"판타지,멜로/로맨스,어드벤처,가족","판타지,멜로/로맨스,코미디","판타지,스릴러","판타지,애니메이션","판타지,액션","판타지,액션,미스터리","판타지,액션,어드벤처","판타지,액션,코미디","판타지,어드벤처","판타지,코미디"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
pd.get_dummies(train["국적"]).head(3)

,그리스,"그리스,독일,카타르","그리스,러시아","그리스,이탈리아,프랑스",기타,"기타,독일","기타,독일,프랑스,체코,카자흐스탄","기타,미국","기타,프랑스",남아프리카공화국,...,"호주,아일랜드","호주,중국","호주,프랑스,뉴질랜드",홍콩,"홍콩,대만","홍콩,말레이지아","홍콩,미국","홍콩,싱가포르","홍콩,중국","홍콩,프랑스"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
pd.get_dummies(train["배급사"]).head(3)

,(사)독립영화전용관 확대를 위한 시민모임,"(사)필레마,필름포럼,홀리가든",(유)마스엔터테인먼트코리아,(유)영화사 화수분,"(유)영화사 화수분,(주)아펙스 엔터테인먼트","(유)영화사 화수분,(주)에스비에스콘텐츠허브",(유)조이앤시네마,"(유)조이앤시네마,(주)팝엔터테인먼트",(유)조이앤컨텐츠그룹,(재)영화의전당,...,프리비젼엔터테인먼트,필라멘트픽쳐스,하준사,"하준사,월트디즈니컴퍼니코리아(주)",한국소니픽쳐스릴리징브에나비스타영화㈜,한국예술영화관협회,한국예술종합학교 미디어콘텐츠센터,홀리가든,"홀리가든,불안한외출배급위원회",화인프로덕션
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
pd.get_dummies(train["제작사"]).head(3)

,'탁주'조합,"(사)거창사건희생자유족회,꿈꿀권리",(사)한국독립영화협회,(유)내부자들 문화전문회사,(유)조이앤컨텐츠그룹,"(유)조이앤컨텐츠그룹,㈜리필름",(재)전주국제영화제조직위원회,(주) 루스이소니도스,(주)26컴퍼니,(주)KW비젼,...,"핸드메이드 필름,(주)코난픽쳐스",핸디크라프트 필름,현진필름,"호두앤유 엔터테인먼트(주),(주)영화사람",홍시픽쳐스,화성영화,활동사진,후지 TV,후지텔레비젼네트웍,"휠므빠말주식회사,이십세기폭스 인터내셔널 프로덕션"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
pd.get_dummies(train["등급"]).head(3)

,12세 미만인 자는 관람할 수 없는 등급,12세관람가,12세이상관람가,"12세이상관람가,12세관람가","12세이상관람가,국민학생관람불가","12세이상관람가,연소자관람가","12세이상관람가,연소자관람가,전체관람가","12세이상관람가,중학생이상관람가",15세 미만인 자는 관람할 수 없는 등급,"15세 미만인 자는 관람할 수 없는 등급 ,15세이상관람가",...,연소자관람불가,"연소자관람불가,15세이상관람가","연소자관람불가,청소년관람불가",전체관람가,중학생이상관람가,청소년관람불가,"청소년관람불가,12세관람가","청소년관람불가,15세이상관람가","청소년관람불가,고등학생이상관람가","청소년관람불가,전체관람가"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
from sklearn.cross_validation import cross_val_score

feature_names = ["순위","Dates-Year","Dates-Month","Dates-Day"]
label_name = "누적관객수"

train_X = train[feature_names]
train_y = train[label_name]

In [41]:
train_X = pd.concat([train_X,pd.get_dummies(train["대표국적"])],axis=1)
train_X = pd.concat([train_X,pd.get_dummies(train["등급"])],axis=1)
train_X = pd.concat([train_X,pd.get_dummies(train["장르"])],axis=1)
train_X = pd.concat([train_X,pd.get_dummies(train["국적"])],axis=1)
train_X = pd.concat([train_X,pd.get_dummies(train["제작사"])],axis=1)
train_X = pd.concat([train_X,pd.get_dummies(train["배급사"])],axis=1)

In [42]:
train_X.head(3)

,순위,Dates-Year,Dates-Month,Dates-Day,그리스,기타,남아프리카공화국,네덜란드,노르웨이,뉴질랜드,...,프리비젼엔터테인먼트,필라멘트픽쳐스,하준사,"하준사,월트디즈니컴퍼니코리아(주)",한국소니픽쳐스릴리징브에나비스타영화㈜,한국예술영화관협회,한국예술종합학교 미디어콘텐츠센터,홀리가든,"홀리가든,불안한외출배급위원회",화인프로덕션
0,1.0,2014.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8.0,2014.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,2014.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Score

In [51]:
from sklearn.svm import LinearSVR
from sklearn.ensemble import RandomForestRegressor

In [61]:
clf = LinearSVR(C=1.0, max_iter=100)
rfr = RandomForestRegressor(n_estimators=10, n_jobs=-1,max_depth=10)

In [62]:
score = cross_val_score(clf, train_X, train_y, scoring='mean_squared_error', cv=5).mean()
print("SVR = {0:.6f}".format(-1.0 * score))

SVR = 327296178018.336609

In [63]:
score = cross_val_score(rfr, train_X, train_y, scoring='mean_squared_error', cv=5,verbose=True).mean()
print("RFR = {0:.6f}".format(-1.0 * score))

RFR = 319720357420.638062

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.7s finished

## Result